@model ProyectoFinal_.Models.Empleado

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Empleado</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreEmpleado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreEmpleado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CargoEmpleado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CargoEmpleado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EdadEmpleado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EdadEmpleado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SueldoEmpleado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SueldoEmpleado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.sede)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.sede.SedeID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.EmpleadoID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
