@model IEnumerable<ProyectoFinal_.Models.Empleado>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreEmpleado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CargoEmpleado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EdadEmpleado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SueldoEmpleado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sede)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreEmpleado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CargoEmpleado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EdadEmpleado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SueldoEmpleado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sede.SedeID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EmpleadoID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EmpleadoID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EmpleadoID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
